<!DOCTYPE html>
<html lang="en">

<head>
	<base href="../">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="css/vendors.css" inline>
    <link rel="stylesheet" href="css/styles.css" inline>
</head>

<body>

    <div id="wrapper">
        <div>
            <!-- COMPONENT START -->


            <div class="cmp-blank-1">
                <div class="content">
                    COMPONENT BLANK 1
                </div>
            </div>



            <!-- COMPONENT END   -->
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="js/vendors.js" inline></script>
    <script src="js/scripts.js" inline></script>

</body>

</html>