---
layout: default
page_title: Example component
---
     <div id="wrapper">
        <div>
            <!-- COMPONENT START -->


            <div class="cmp-blank-1">
                <div class="content">
                    COMPONENT BLANK 1
                </div>
            </div>



            <!-- COMPONENT END   -->
        </div>
    </div>
