---
layout: default
page_title: Default page title
---
    <div id="wrapper">

		<div class="cmp-header-1">
			<div class="content">

				<div class="cmp-logo-1">
					<h1><span>Page Title</span></h1>
				</div> 
				<!-- /cm-logo-1 -->

			</div>
		</div>
        <div id="masthead">
            <div class="wrap">
				<div class="cmp-hero-1">
					HERO IMAGE
				</div>
            </div>
        </div>
        <div id="main">
            <div id="content">
				CONTENT
            </div><!-- / #content -->
        </div>
        <div class="cmp-footer-1" id="footer">
			FOOTER
		</div>
    </div>
